@font-face {
    font-family: 'Pressuru';
    src: url('fonts/pressuru.eot');
    src: url('fonts/pressuru.woff2') format('woff2'),
        url('fonts/pressuru.woff') format('woff'),
        url('fonts/pressuru.ttf') format('truetype');
}